 .main_header{
        
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* font for header */
           font-size: larger;           
            padding: 10px ;
            left: 0vw;
            top: 0vw;
            display: flex;
            position: absolute;
            width: 98%;
        }
        .main_header ul{
            list-style: none;
            display: flex;
        }
        .main_header ul li{
            padding: 10px 20px;
        }
        .pawsome_header{
            position: relative;
            top: -9px;
            text-shadow: 2px 2px 4px rgba(0.1,0.1,0.1,0.1);
            color: #8b61c2;        
            font-family:'PP Neue Machina Ultrabold';
            font-size: 4vh;
            
        }
        .main_header a{
            text-decoration: none;    
        }
        .cart-icon{
            position: absolute;
            right: 0;
            font-size: 30px;
             text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);  
             padding: 5px;
             }



             .overlay{
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
        
          }
          .loginbox.show{
            bottom: 0;
        
          }
          .loginbox{
           
           bottom: -500px;
           width: 60vw;
           height: 90vh;        
           background-image: url(images/services/popup.png);
           background-position: center;
           background-repeat: no-repeat;
           background-size:cover ;
           position: fixed;
           margin-top: 63px;
           left: 50%;
           transform: translateX(-50%);

           transition: bottom 0.4s ease;
          }
          .loginbox .enter{
             position: absolute;
             bottom: 25%;
             left: 10%;
            padding: 15px 20px 15px 50px;
            border-radius: 20px;
            border-width: 0;
        
          }
          .loginbtn{
            padding: 11px 30px;
            position: absolute;
            bottom: 18%;
            left: 17%;
            border-radius: 20px;
            border-style: none;
            background-color: #ddc4a1;
            cursor: pointer;
          }
          .crossbtn{
            position: absolute;
            bottom: 46%;
            right: 3%;
            cursor: pointer;
          }
          .login_btn_header{
            background-color: #8b61c2;
            color: whitesmoke;
            padding: 10px 20px;
            border-radius: 20px;
            cursor: pointer;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          }